.clear_float::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

a:hover {
  text-decoration: none;
}

.border_size {
  box-sizing: border-box;
}

/* 爆料 遮罩层 */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.modal .container {
  width: 280px;
  height: 280px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 1em;
  display: none;
  background-image: url('../images/icon_zhezhoaceng.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.modal .container .close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 7px;
  top: 3px;
  border: 2px solid #fff;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
}

.zhezhaoceng_img {
  position: absolute;
  left: 101px;
  bottom: 131px;
}

.zhezhaoceng_text {
  position: absolute;
  left: 90px;
  bottom: 100px;
  font-size: 15px;
  color: #555555;
}

.zhezhaoceng_text1 {
  position: absolute;
  left: 95px;
  bottom: 80px;
  font-size: 15px;
  color: #555555;
}

/**导航条*/
.nav {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: #0068B7;
}

.nav_list {
  width: 1200px;
  margin: 0 auto;
}

.nav_item {
  display: inline-block;
  width: 99px;
  text-align: center;
  line-height: 40px;
  margin-right: 30px;
}

.nav_item a {
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
}

.level-nav li a {
  font-weight: 400px !important;
}

.nav_item_active {
  padding: 1px 0;
  margin-top: -1px;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px #e6e6e6;
}

.nav_item_active a {
  font-size: 18px;
  color: #0068B7;
  font-weight: 600;
}

/*下拉导航*/
.nav_item {
  position: relative;
}

.level-nav {
  position: absolute;
  width: 100%;
  display: none;
  z-index: 20;
}

.level-nav li {
  height: 34px;
  line-height: 34px;
  background: #fff;
}

.level-nav li a {
  color: #999999;
  font-size: 14px;
}

.level-nav .on {
  color: #333333;
  background: #eeeeee;
}

.level-nav .on a {
  color: #999999;
}

/* position */
.navigation {
  width: 1200px;
  margin: 20px auto;
}

.navigation li {
  float: left;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 300;
  color: #999999;
  margin-right: 10px;
}

/*底部*/
.web-footer {
  width: 100%;
  height: 241px;
  background: #0068B7;
  display: inline-block;
}

.web-footer p {
  font-size: 15px;
  color: #999999;
  line-height: 32px;
}

.copyright {
  margin-top: 38px;
}

.web-footer dl dd {
  font-size: 15px;
  color: white;
  line-height: 22px;
  margin-top: 3px;
  width: 90px;
  margin-left: 24px;
}

.web-footer_middle {
  width: 1200px;
  margin: 0 auto;
}

.web-footer_middle p {
  color: white;
}

.img_botton1 {
  width: 15px;
  height: 15px;
}

.erweima_contain {
  float: left;
  margin-top: 58px;
  margin-right: 28px;
  text-align: center;
}

.erweima_contain img {
  width: 80px;
  height: 80px;
}

.erweima_contain_title {
  text-align: center;
  font-size: 13px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  margin-top: 8px;
}

/*二级页 右侧 */
.middle_contain_right {
  width: 350px;
  height: auto;
}

.related_contain .middle_contain_right_ul .auto_cut:first-child {
  border-bottom: none
}

.color {
  width: 1px;
  height: 14px;
  margin-top: 5px;
  border: 1px solid #0068B7;
  background-color: #0068B7;
  margin-right: 10px;
}

.margin50 {
  margin: 0 25px 20px 25px;
}

.last_title {
  margin-top: 20px;
}

.last_title1 {
  height: 20px;
}

.middle_contain_right_title ul li {
  float: left
}

.middle_contain_right_ul {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #5D5D5D;
  margin-top: 15px;
  height: auto;
  width: 300px;
}

.middle_contain_right_ul img {
  width: 300px;
  height: 201px;
}

.middle_contain_right_ul li {
  margin-top: 15px;
  border-bottom: 1px solid #E7E7E7
}

.middle_contain_right_content {
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  border-bottom: 1px solid #E7E7E7;
  color: #5D5D5D;
  margin-top: 20px;
}

.auto_cut a {
  color: #333333;
  width: 290px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.auto_cut {
  line-height: 14px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(93, 93, 93, 1);
}

.auto_cut a:first-child {
  overflow: none;
}

.middle_contain_right_ul .auto_cut1 {
  float: left;
  width: 150px;
  position: relative;
  border-bottom: none;
}

.middle_contain_right_ul li.auto_cut1 {
  margin-top: none;
}

.auto_cut1 {
  position: relative;
}

.auto_cut1 img {
  width: 144px;
  height: 97px;
}

.auto_cut_div {
  margin-bottom: 10px;
}

.auto_cut1_div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  bottom: 5%;
  left: 4%;
  font-size: 12px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #FFFFFF;
  width: 135px;
}

.middle_contain_right_title {
  font-size: 18px;
  color: #3F3F3F;
  font-weight: 400;
  font-family: Microsoft YaHei;
}